<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Custom CSS -->
    <style>
        /* Navbar styling */
        .navbar {
            position: fixed;
            top: 0;
            right: 0; /* Shift navbar to the right */
            width: calc(100% - 250px); /* Adjusted width to accommodate sidebar */
            z-index: 1000; /* Ensure navbar is above sidebar */
        }
        /* Sidebar styling */
        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #4e73df;
            padding-top: 60px;
        }
        /* Page content styling */
        .content {
            margin-left: 250px;
            padding: 20px;
        }

        /* DataTables styling */
        #bookingTable_wrapper {
        padding: 20px;
        }
        #bookingTable {
            width: 100%;
        }
        #bookingTable th, #bookingTable td {
            text-align: center;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="sidebar col-md-3">
            <nav class="nav flex-column">
                <a class="nav-link active" href="/my_bookings" style="color:white">Bookings</a>
                <a class="nav-link" href="/update_password" style="color:white">Update Info</a>
            </nav>
        </div>

        <!-- Main content -->
        <div class="col-md-9">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <!-- Navbar brand/logo -->

                    <!-- Navbar links -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home</a>
                        <a class="nav-item nav-link" href="#">About Us</a>
                        <a class="nav-item nav-link" href="#">Rooms</a>
                        <a class="nav-item nav-link" href="#">Menu</a>
                    </div>

                    <!-- Hello, username span -->
                    {% if 'username' in session %}
                    <span class="navbar-text ml-auto mr-3">Hello, {{ session['username'] }}</span>
                    <a href="logout" class="btn btn-outline-success">Logout</a>
                    {% else %}
                    <a href="login" class="btn btn-outline-success mr-2">Login</a>
                    <a href="signup" class="btn btn-outline-success">Signup</a>
                    {% endif %}
                </div>
            </nav>

        </div>
                    <!-- Main content -->
                    <div class="content mt-5">
                        <!-- Your content goes here -->
                        <h1>Update your password</h1>
                        <p style="margin-top: 15%;">To update your password.   <a href = "forget"><button class="btn btn-primary">Click here</button></p>
                    </div>
    </div>
</div>

<div class="modal fade" id="updateDate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Booking Dates</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

        </div>
        <div id="alertContainer" class="modal-alert"></div>
        <form id="updateForm" method="post" action="/update_date">
        <div class="modal-body">
            <div class="form-group row">
                <label for="mealInput_upd_name" class="col-sm-2 col-form-label">Check-in Date</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="check_in" id="check-in-upd">
                </div>
            </div>
            <div class="form-group row">
                <label for="meal_price" class="col-sm-2 col-form-label">Check-out Date</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="check_out" id="check-out-upd">
                    <input type="hidden" class="form-control" name="room_type" id="rtype-update">
                    <input type="hidden" class="form-control" name="booking_id" id="bid-update">
                    <input type="hidden" class="form-control" name="check_in_old" id="cin-update-old">
                    <input type="hidden" class="form-control" name="check_out_old" id="cout-update-old">
                    <input type="hidden" class="form-control" name="total_people_count" id="total-update">
                </div>
             </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="updateButton">Update</button>
            
        </div>
        </form>
    </div>
</div>
</div>
<div class="modal fade" id="deleteBooking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Booking</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

        </div>
        <div class="modal-body">Are you sure to delete this Booking?</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <form id="deleteForm" method="post" action="/delete_booking">
                <input type="hidden" name="booking_id" id="bid_delete">
                <input type="hidden" name="check_in" id="cin_delete">
                <input type="hidden" name="check_out" id="cout_delete">
                <input type="hidden" name="room_type" id="room_type">
                <input type="hidden" name="total_people" id="total_people">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
</div>
<!-- Bootstrap JS, jQuery and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
